Options FollowSymLinks MultiViews
RewriteEngine On

RewriteRule ^/$ http://www2.josedomingo.org/pledin/

RewriteCond %{QUERY_STRING} id=65
RewriteRule ^web/course/view.php$ https://plataforma.josedomingo.org/pledin/course/view.php?id=16 [R,L]
