---
# Only the main Sass file needs front matter (the dashes are enough)
---


@charset "utf-8";

$monospace  : "Liberation Mono", Consolas, Monaco, "Lucida Console", monospace;
$text-color: #24292e;
$link-color: #0366d6;
$code-background-color-dark: #fafafa;

$muted-text-color: #8e8b82 !default;
$primary-color: #343434 !default;
$border-color: #181102 !default;
$footer-background-color: #e9dcbe !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: $text-color !default;


$intro-transition  : none;
$global-transition : none;
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


