---
# Only the main Sass file needs front matter (the dashes are enough)
---


@charset "utf-8";

$monospace  : "Liberation Mono", Consolas, Monaco, "Lucida Console", monospace;
$text-color: #24292e;

$code-background-color-dark: #fafafa;
$code-background-color: #fafafa;
$muted-text-color: #8e8b82 !default;
$primary-color: #343434 !default;
$border-color: #837b6b !default;
$footer-background-color: #a2a7b6 !default;

$link-color: #0366d6;
$link-color-hover: #0272f1;
$link-color-visited: #4d96eb;
$masthead-link-color: $primary-color !default;
$masthead-link-color-hover: $primary-color !default;
$navicon-link-color-hover: $primary-color !default;



@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


html {
    font-size: 12px; // originally 16px
    @include breakpoint($medium) {
        font-size: 14px; // originally 18px
    }

    @include breakpoint($large) {
        font-size: 16px; // originally 20px
    }

    @include breakpoint($x-large) {
        font-size: 18px; // originally 22px
    }
}
