---
# Only the main Sass file needs front matter (the dashes are enough)
---


@charset "utf-8";

$monospace  : "Liberation Mono", Consolas, Monaco, "Lucida Console", monospace;
$text-color: #24292e;

$code-background-color-dark: #fafafa;
$code-background-color: #fafafa;
$muted-text-color: #8e8b82 !default;
$primary-color: #e2cdcd !default;
$border-color: #837b6b !default;
$footer-background-color: #24292e !default;

$link-color: #0366d6;
$link-color-hover: #0272f1;
$link-color-visited: #4d96eb;
$masthead-link-color: $primary-color !default;
$masthead-link-color-hover: $primary-color !default;
$navicon-link-color-hover: $primary-color !default;

$base00: #f6f8fa;
$base01: #e0e0e0;
$base02: #d0d0d0;
$base03: #b0b0b0;
$base04: #000000;
$base05: #101010;
$base06: #151515;
$base07: #202020;
$base08: #ff0086;
$base09: #fd8900;
$base0a: #aba800;
$base0b: #00c918;
$base0c: #1faaaa;
$base0d: #3777e6;
$base0e: #ad00a1;
$base0f: #cc6633;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


html {
    font-size: 12px; // originally 16px
    @include breakpoint($medium) {
        font-size: 14px; // originally 18px
    }

    @include breakpoint($large) {
        font-size: 16px; // originally 20px
    }

    @include breakpoint($x-large) {
        font-size: 18px; // originally 22px
    }
}

a.site-title
{
    font-size: 2.2em;
}

div.masthead 
{
    background-color: #24292e;
    color: #8e8b82;
}
nav#site-nav
{
    background-color: #24292e;
    color: #8e8b82;
}
.archive__item-teaser img {
    width: auto;
}

div.page__inner-wrap-principal {
    border: 1px dotted #c6cad2;
    margin-bottom: 25px;
    padding: 15px;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}

.half {
    width:50%;
    float:left;
    margin:0px;
    text-align:center;
    padding:0px;

}

a:link, a:visited, a:active {
    text-decoration:none;
}


#list-container {
    max-width: 800px; /* Ajusta el ancho máximo según tu preferencia */
    margin: 0 auto; /* Centra el contenedor en la página */
  }
  
  #infinite-list {
    list-style-type: none; /* Quita los marcadores de lista */
    padding: 0; /* Quita el relleno por defecto de la lista */
  }
  
  .tweet {
    background-color: #f5f8fa;
    border: 1px solid #e1e8ed;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    font-family: Arial, sans-serif; /* Fuentes alternativas */
  }
  
  .tweet .author-image {
    width: 110px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
  
  .tweet .author-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .tweet .tweet-content {
    flex-grow: 1;
  }
  .tweet .tweet-content p {
  margin-bottom: 0px;
  }

  .tweet .author {
    font-weight: bold;
    color: #1da1f2;
  }
  
  .tweet .content {
    margin-top: 5px;
    color: #14171a;
  }

  .tweet .title {
    font-weight: bold; /* Estilo de negrita para el título */
    padding-top: 5px;
}

.tweet .title a {
  color: #007bff; /* Cambia el color del enlace del título */
  text-decoration: none; /* Elimina el subrayado predeterminado */
}

.tweet .title a:hover {
  text-decoration: underline; /* Añade subrayado al pasar el mouse */
}

.tweet .tag {
  display: inline-block;
  background-color: #cadbdd;
  color: #333;
  padding: 5px 5px;
  margin-right: 5px;
  border-radius: 5px;
  font-size: 12px;
  border: 1px solid #d0dfea;
}

.tweet .tag:hover {
  background-color: #ddd;
  cursor: pointer;
}
  
  .tweet .date {
    font-size: 0.8em;
    color: #8899a6;
  }
  